body {
  background: url('http://localhost:3000/background.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 300px;
  margin-left: -900px;
}

.pokemon-options {
  position: absolute;
  top: 300px;
  right: 60px;
  width: 350px;
  text-align: initial;
}

.pokemon-answer-hidden {
  color: black;
  visibility: hidden;
}

.pokemon-answer-visible {
  color: black;
  visibility: visible;
}

.pokemon-options li {
  margin: 20px;
  font-size: 30px;
  cursor: pointer;
}

.selected {
  color: yellow;
}

.blury {
  filter: blur(0.5rem);
}

.App-header {
  /* background-color: #222; */
  height: 320px;
  padding: 20px;
  color: white;
  padding-top: 250px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pokemon-name {
  height: 40px;
  width: 50%;
  margin: 20px;
  font-size: xx-large;
  padding: 10px;
  visibility: hidden;
}

.pokeman-name-wrong {
  border: 1px red solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
